.header {
  width: 100vw;
  height: 50px;
  background: #58ccff;
}

.calculator_main {
  height: 180px;
  border: 1px solid black;
}

.calculator {
  width: 300px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calculator_signbox {
}

/* signbox와 value의 input태그의 간격을 조금 더 좁히고 싶다. 어떻게 해야 할까? */
/* 또한 header가 표현이 안된다 */
