* {
  text-align: end;
}
.calculator_bg {
  width: 100%;
  height: 1000px;
  display: flex;
}
.calculator_table {
  border: 1px solid black;
  margin: auto;
}
.calculator_box {
  width: 5rem;
  height: 1rem;
}
